.list ul {
	list-style-type:none;
	padding:0;
	margin:0;
}

body {
background-color:#E6DD93;
}

.sidebar {
	height:1000px;
    border-style: solid;
	border-top:none;
	border-left:none;
	border-bottom:none;
    border-right: thick double;
	
}